// Place all the styles related to the admin/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users {
  border: 1px solid #4682B4;
  width: 98%;

  td,
  th {
    border: 1px solid #4682B4;
    padding: 5px 10px;
    text-align: center;

  }
}

#btn-new-user {
  margin-bottom: 10px;
}