@import 'bootstrap';

* {
	margin: 5px;
}

/*
#chat-speak {
	position: absolute;
	top: 500px;
	left: 10px;
	width: 290px;
}

#chat-btn {
	position: absolute;
	top: 500px;
	left: 300px;
}

#signed-in {
	position: absolute;
	top: 10px;
	left: 10px;
}

.chat-container {
	border: 1px solid black;
	border-radius: 5px;
	min-height: 530px;
	margin: 5px;
	width: 350px;
}
*/