// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#start-btn {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#hello {
  padding-top: 150px;

  p {
    font-size: 15px;
  }
}

label[for=messages_room] {
  margin-left: 120px;
}

#start-chat {
  margin-left: 165px;
  margin-top: 10px;
}
